body {
	margin: 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#page_container {                 /* 1 */
  display: grid;                      /* 2 */
  grid-template-columns: 75% 1fr;   /* 3 */
  grid-template-rows: 1fr;  /* 3 */
  height: 100%;
  width: 100%;
  margin: 0px;
}

#div_map_container {
  grid-column: 1;       
	grid-row: 1;   /* 4 */
  background-color:blue;
  margin: 0px;
}

#div_map {
  width: 100%;
  height: 100%;
}

#div_interface  {
  grid-column: 2;                     /* 5 */
  grid-row: 1;            
  display: grid;                      /* 2 */
  grid-template-columns: 1fr;   /* 3 */
  grid-template-rows: 30% 55% 15%;  /* 3 */
  margin: 0px;
  padding: 1%;
}

#div_interface_graphic{
  grid-column: 1;       
	grid-row: 1;   
}

#div_interface_graphic_container{
	width: 100%;
	height: 100%;
	padding: 1%;
}

#div_interface_control{
  grid-column: 1;       
	grid-row: 2;   
	background-color:white;
	padding-top:2%;
}

/*.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 20px;    
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}*/


/*#list_date{
	visible: hidden;
}*/

#div_interface_graphic_selectedcluster{
	grid-column: 1;                     /* 5 */
	grid-row: 3; 
}

#div_interface_graphic_container_selectedcluster{
	height: 100%;
	width: 100%;
	padding: 1%;
}

#div_color_legend{
	visibility: visible;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 500px;
	height: 800px;
	background-color: #FFFFFF;
	z-index:5000;
	border-radius: 10px;
}

#div_color_legend_content{
	position: absolute;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	width: 95%;
	height: 95%;
	/*display: grid;                      /* 2 *//*
	grid-template-columns: 1fr;   /* 3 *//*
	grid-template-rows: 5% 10% 5% 55% 5% 10% 10%;*/
}
/*
#dataset_date_selectors{
	grid-column: 1;       
	grid-row: 1; 
}

#color_selectors{
	grid-column: 1;       
	grid-row: 2; 
	width: 100%;
	height: 100%;
	display: grid;                      /* 2 *//*
	grid-template-columns: 60% 40%;   /* 3 *//*
	grid-template-rows: 1fr;
}

#color_palette_selector{
	grid-column: 1;       
	grid-row: 1;
}

#color_order_selector{
	grid-column: 2;       
	grid-row: 1;
}


#number_ofclasses_selectors{
	grid-column: 1;       
	grid-row: 3; 
	display:grid;
	grid-template-columns: 75% 25%;   /* 3 *//*
	grid-template-rows: 1fr;
	
}

#number_ofclasses_selectors input{
	grid-column: 1;       
	grid-row: 1; 
}

#number_ofclasses_selectors p{
	grid-column: 2;       
	grid-row: 1; 
}

#classes_border_selectors{
	grid-column: 1;       
	grid-row: 4; 
}

#slider_focus_container{
	position: absolute;
	grid-column: 1;
	grid-row: 6;
}

#color_legend{
	grid-column: 1;       
	grid-row: 7; 
}

.div_date_selectors_slider{
	display:grid;
	grid-template-columns: 75% 25%;   /* 3 *//*
	grid-template-rows: 1fr;
}

.div_date_selectors_slider range{
	grid-column: 1;       
	grid-row: 1; 
}

.div_date_selectors_slider p{
	grid-column: 2;       
	grid-row: 1; 
}*/

.div_date_selectors_slider{
	padding: 15px 0px;
	
}

#color_legend{
	padding: 0px 5px;
	height: 40px;
}

#graph_color_legend{
	max-width: 1090px;
}

.div_slider_map{
	display:grid;
	grid-template-columns: 75% 25%;   /* 3 */
	grid-template-rows: 1fr;
}

.div_slider_map range{
	grid-column: 1;       
	grid-row: 1; 
}

.div_slider_map p{
	grid-column: 2;       
	grid-row: 1; 
}

#div_glyph_selectors{
	display:grid;
	grid-template-columns: 50% 50%;   /* 3 */
	grid-template-rows: 50% 50%;
}

#div_glyph_construction_selectors{
	grid-column: 1;       
	grid-row: 1; 
}

#date_order_selector{
	grid-column: 2;       
	grid-row: 1; 
}

#selected_graph_max_div{
	grid-column: 1;       
	grid-row: 2; 
}

#animated_graph{
	grid-column: 2;       
	grid-row: 2; 
}

#animation_div{
	position:absolute;
	top: 10px;
	left: 50px;
	width: 300px;
	height: 150px;
	visibility: hidden;
	z-index: 3000;
	background-color: #FFFFFF;
}

#slider_div{
	padding:5px;
}

h2{
	margin: 0px;
	margin-bottom : 4px;
	font-size: 20px;
}

#number_ofclasses_selectors{
	height: 40px;
}

#color_legend_background{
	background-color: #ededed;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	overflow: scroll;
}

#classes_border_selectors{
	height: 250px;
	overflow: scroll;
}

input#number_ofclasses{
	margin-bottom: 5px;
	margin-top: 15px;
}

p#number_ofclasses_label{
	top: -15px;
}

#dates_focus{
	display: flex;
	flex-direction: row;
	height: 15px;
 }

#slider_focus_container {
	visibility: hidden;
	border : 6px;
	padding: 0px 5px;
}

 #color_selectors, #dataset_date_selectors {
	display: flex;
	justify-content: space-between;
}

  input[type=range] {
	height: 26px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background: transparent;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	background: #BDBDBD;
  }
  input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 5px;
	border-radius: 0px;
	background: black;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #BDBDBD;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	background: #BDBDBD;
  }
  input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 5px;
	border-radius: 0px;
	background: black;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 6px;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
	background: #BDBDBD;
	border-radius: 2px;
  }
  input[type=range]::-ms-thumb {
	margin-top: 1px;
	height: 20px;
	width: 5px;
	border-radius: 0px;
	background: black;
	cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower, input[type=range]:focus::-ms-fill-upper {
	background: #BDBDBD;
  }

  .div_date_selectors_slider{
	display: flex;
	flex-direction: row;
	height: fit-content;
}

.ui-slider{
	background-color: #BDBDBD;
	height: 6px;
	margin-top: 5px;
	border-radius: 0px;
}

.ui-slider .ui-slider-handle, .ui-slider-handle:target{
	height: 20px;
	width: 20px;
	border-radius: 50px;
	border: none;
	margin-top: -3px;
}

.ui-slider-handle:first-of-type, .ui-slider-handle:last-of-type{
	width: 5px;
	border-radius: 0px;
	margin-left: -3px ;
}

.ui-state-default, .ui-widget-content .ui-state-default{
	background: black;
	border: none;
}

.ui-slider-range{
	background: #ededed;
}